input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
border-bottom: 2px solid #a30000;
-webkit-text-fill-color: #ddd;
-webkit-box-shadow: 0 0 0px 1000px #00000000 inset;
transition: background-color 5000s ease-in-out 0s;
}

body {
  margin: 0;
  height: 100%;
}

#page {
  background-color: #ff000020;
}

#background {
  position: absolute;
  z-index: -1;
}

#background img {
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.visibleInstructions {
  filter: brightness(0.3)
}